.error {
  &_msg {
    color: #ff0000 !important;
    font-size: 1.3rem;
    margin-top: 5px;
  }
  &_field {
    border-color: #ff0000 !important;
  }
}

/* Loading Spinner */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0.16turn);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid $primary-color;
  border-top-color: $blue-color;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: translate(-50%,-50%) rotate(0turn);
  }
  
  to {
    transform: translate(-50%,-50%) rotate(1turn);
  }
}