@import "./sass/variables";
@import "./sass/utils"; 

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $primary-font
}

html{
    font-size: 62.5%; // 10px
    box-sizing: border-box;
    @media screen and (max-width: 56.25em) {
        font-size: 50%;
    }
    @media screen and (max-width: 56.25em) {
        font-size: 50%;
    }
    
}

body{
    color: $text-color;
    background-image: linear-gradient(rgba(#000, .75), rgba($secondary-color,.85)), url("./static/bg-gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}